<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!--<include resource="org/springframework/boot/logging/logback/defaults.xml" />-->

  <!--<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>-->

  <!--<appender name="FILE"-->
    <!--class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--<encoder>-->
      <!--<pattern>${FILE_LOG_PATTERN}</pattern>-->
    <!--</encoder>-->
    <!--<file>${LOG_FILE}</file>-->
    <!--<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
      <!--<fileNamePattern>${LOG_FILE}.%i</fileNamePattern>-->
    <!--</rollingPolicy>-->
    <!--<triggeringPolicy-->
      <!--class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
      <!--<MaxFileSize>10MB</MaxFileSize>-->
    <!--</triggeringPolicy>-->
  <!--</appender>-->

  <!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
      <!--<level>WARN</level>-->
    <!--</filter>-->
    <!--<encoder>-->
      <!--<pattern>${CONSOLE_LOG_PATTERN}</pattern>-->
      <!--<charset>utf8</charset>-->
    <!--</encoder>-->
  <!--</appender>-->

  <!--<root level="INFO">-->
    <!--<appender-ref ref="CONSOLE" />-->
    <!--<appender-ref ref="FILE" />-->
  <!--</root>-->

  <include resource="org/springframework/boot/logging/logback/base.xml"/>

</configuration>